:root{
    --bg-100: #F1F1F1;
}

html {
    scroll-behavior: smooth;
  }

.background-100{
    background-color: var(--bg-100);
}
.rotated-text{
    position:absolute;
    text-transform: uppercase;
    transform-origin: 0 0;
    transform: rotate(90deg);
}
.product-actions{
    margin-top: -3.65rem;
    display: none !important;
}
.product-img:hover + .product-actions{
    display: block !important;
    display: flex !important;
}
.banner{
    position: relative;
    width: 100%;
}

.banner-overlay{
    position: absolute;
    top: 0;
	left: 0;
    width: 100%;
	height: 100%;
    display: flex;
    align-items:center;
    justify-content: end;
}

.insta-follow{
    position: relative;
}
.overlay{
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background: rgba(0, 0, 0, 0.6);
	color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    opacity: 0;
	transition: ease opacity 0.25s;
}

.overlay:hover {
	opacity: 1;
    transition: ease opacity 0.5s;
}

@media only screen and (min-width: 992px) {
    .empty-div{
        margin-bottom: 52rem;
    }
  }
